{% extends 'base.html' %}
{% block content %}

   <header class="secondary-header">
      <h1>О компании</h1>
   </header>

   <section class="advantages-section">
      <div class="wrapper">
         <h1 class="advantages-title landing-title">
            Почему клиенты <span>работают с нами и рекомендуют</span> своим партнерам
         </h1>

         <div class="landing-list">
            <div class="landing-list__item">
               <div class="landing-list-item__container">
                  <img src="/media/img/watch.svg" class="t491__img t-img loading" imgfield="li_img__1476976310929"
                     style="width:50px;">

                  <p class="landing-list-item-container__title">
                     Скорая подача транспорта
                  </p>
               </div>

               <p class="landing-list-item__desc">
                  Подача транспорта в течении 30 минут с момента заявки.
               </p>
            </div>

            <div class="landing-list__item">
               <div class="landing-list-item__container">
                  <img src="/media/img/speak.svg" class="t491__img t-img loading" imgfield="li_img__1476976315081"
                     style="width:50px;">

                  <p class="landing-list-item-container__title">
                     Информирование о грузе
                  </p>
               </div>

               <p class="landing-list-item__desc">
                  Информирование о местонахождении груза 24 часа в сутки 7 дней в неделю и ежедневное SMS-информирование
               </p>
            </div>

            <div class="landing-list__item">
               <div class="landing-list-item__container">
                  <img src="/media/img/steering-wheel.svg" class="t491__img t-img loading" imgfield="li_img__1476976330452"
                     style="width:50px;">

                  <p class="landing-list-item-container__title">
                     Нет остановок на маршруте
                  </p>
               </div>

               <p class="landing-list-item__desc">
                  2 водителя экспедитора сменяя друг друга перевозят груз гораздо быстрее.
               </p>
            </div>

            <div class="landing-list__item">
               <div class="landing-list-item__container">
                  <img src="/media/img/save-money.svg" class="t491__img t-img loading" imgfield="li_img__1476976334035"
                     style="width:50px;">

                  <p class="landing-list-item-container__title">
                     Низкие цены
                  </p>
               </div>

               <p class="landing-list-item__desc">
                  Собственный автопарк, водители работают на основании Трудового Договора. На постоянной основе, а не на
                  сдельной.
               </p>
            </div>

            <div class="landing-list__item">
               <div class="landing-list-item__container">
                  <img src="/media/img/smile.svg" class="t491__img t-img loading" imgfield="li_img__1476976688514"
                     style="width:50px;">

                  <p class="landing-list-item-container__title">
                     Сохранность груза
                  </p>
               </div>

               <p class="landing-list-item__desc">
                  Несем материальную ответственность на основе договора. Мы застрахованы от утери, порчи, сгорания,
                  утопания и т.д.
               </p>
            </div>

            <div class="landing-list__item">
               <div class="landing-list-item__container">
                  <img src="/media/img/truck.svg" class="t491__img t-img loading" imgfield="li_img__1476976692541"
                     style="width:50px;">

                  <p class="landing-list-item-container__title">
                     Разные типы <br> и грузоподъемности авто
                  </p>
               </div>

               <p class="landing-list-item__desc">
                  Грузовики 1,5 тонн, 5, 10, 15 и 20 тон. Рефрижераторы, тенты, термосы, автовозы, тралы, контейнеровозы
               </p>
            </div>
         </div>
      </div>
   </section>

   <section class="about-detail-section">
      <div class="wrapper">
         <h1 class="landing-title">
            О Компании
         </h1>
         <p>
            Мы покупаем Товар, продаваемый на территории России, без НДС! Зачастую Поставщик из России не желает убирать
            из цены НДС при продаже своего товара на Казахстан, а просто продаёт по якобы нулевой ставке НДС. Это вполне
            объяснимо, так как помимо отчетностей в фискальные органы и риски. (в случае недобропорядочности Покупателя
            из Казахстана), Поставщик минимум на полгода замораживает свои деньги при возврате НДС из бюджета Российской
            Федерации.
         </p>
      </div>
   </section>
{% endblock %}
