{% extends 'base.html' %}
{% block content %}

   <header class="secondary-header">
      <h1>Упаковка груза</h1>
   </header>

   <section class="packaging-section">
      <div class="wrapper">
         <div class="packaging-list">
            <div class="packaging-list__item flex">
               <div class="packaging-list-item__img flex j-center fa-center">
                  <img src="/media/img/pac1.png" alt="">
               </div>

               <div class="packaging-list-item__info">
                  <p class="packaging-list-item-info__title">
                     Паллетный борт
                  </p>

                  <p class="packaging-list-item-info__desc">
                     Самый надёжный вид упаковки, представляет собой закрытый деревянный короб, обеспечивает
                     максимальную сохранность груза.
                  </p>

                  <p class="packaging-list-item-info__stay">
                     Упаковка не передается получателю
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Состав упаковки:</span>
                     <br>
                     Паллетная крышка, стреппинг-лента, паллетные борта, паллет
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Максимальные габариты груза:</span>
                     <br>
                     1,15м * 0,75м * 2,2м
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Примеры упаковываемых грузов:</span>
                     <br>
                     Оргтехника, электротовары, посуда, фототовары, оптика и другие
                  </p>
               </div>
            </div>

            <div class="packaging-list__item flex">
               <div class="packaging-list-item__img flex j-center fa-center">
                  <img src="/media/img/pac2.png" alt="">
               </div>

               <div class="packaging-list-item__info">
                  <p class="packaging-list-item-info__title">
                     Жёсткая упаковка (Обрешётка)
                  </p>

                  <p class="packaging-list-item-info__desc">
                     Надёжно защищает груз во время транспортировки, рекомендуется для грузов, габариты которых не
                     позволяют использовать упаковку «Паллетный борт».
                  </p>

                  <p class="packaging-list-item-info__stay">
                     Упаковка передается получателю
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Состав упаковки:</span>
                     <br>
                     Пиломатериалы, саморезы, стреппинг-лента, деревянная подложка, стрейч-плёнка
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Максимальные габариты груза:</span>
                     <br>
                     Высота и ширина до 2,0 м
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Примеры упаковываемых грузов:</span>
                     <br>
                     Автозапчасти, вентиляционное оборудование, сантехника, светильники и другие
                  </p>
               </div>
            </div>

            <div class="packaging-list__item flex">
               <div class="packaging-list-item__img flex j-center fa-center">
                  <img src="/media/img/pac3.png" alt="">
               </div>

               <div class="packaging-list-item__info">
                  <p class="packaging-list-item-info__title">
                     Воздушно-пузырьковая плёнка
                  </p>

                  <p class="packaging-list-item-info__desc">
                     Обеспечивает дополнительную амортизационную защиту груза во время перевозки.
                  </p>

                  <p class="packaging-list-item-info__stay">
                     Упаковка передается получателю
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Состав упаковки:</span>
                     <br>
                     Воздушно-пузырьковая плёнка, скотч
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Примеры упаковываемых грузов:</span>
                     <br>
                     Канцелярские товары, бытовая техника, детские товары и другие
                  </p>
               </div>
            </div>

            <div class="packaging-list__item flex">
               <div class="packaging-list-item__img flex j-center fa-center">
                  <img src="/media/img/pac4.png" alt="">
               </div>

               <div class="packaging-list-item__info">
                  <p class="packaging-list-item-info__title">
                     Паллетирование
                  </p>

                  <p class="packaging-list-item-info__desc">
                     Используется как вспомогательный вид упаковки, препятствует рассыпанию грузов, сданных в ненадежной
                     упаковке (например, в мешке), а также используется для группировки по местам.
                  </p>

                  <p class="packaging-list-item-info__stay">
                     Упаковка передается получателю
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Состав упаковки:</span>
                     <br>
                     Паллет, стрейч-плёнка, скотч
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Максимальные габариты груза:</span>
                     <br>
                     1,2м * 0,8м * 2,2м
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Примеры упаковываемых грузов:</span>
                     <br>
                     Игрушки, печатная продукция, расходные материалы, сантехника и другие
                  </p>
               </div>
            </div>

            <div class="packaging-list__item flex">
               <div class="packaging-list-item__img flex j-center fa-center">
                  <img src="/media/img/pac5.png" alt="">
               </div>

               <div class="packaging-list-item__info">
                  <p class="packaging-list-item-info__title">
                     Картонная коробка
                  </p>

                  <p class="packaging-list-item-info__desc">
                     Применяется для упаковки небольших грузов, защищает от деформации и несанкционированного доступа.
                  </p>

                  <p class="packaging-list-item-info__stay">
                     Упаковка передается получателю
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Состав упаковки:</span>
                     <br>
                     Картон / Картон
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Максимальные габариты груза:</span>
                     <br>
                     0,35м * 0,35м * 0,35м
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Примеры упаковываемых грузов:</span>
                     <br>
                     Игрушки, медтовары, посуда, сувениры и другой мелкоштучный груз
                  </p>
               </div>
            </div>

            <div class="packaging-list__item flex">
               <div class="packaging-list-item__img flex j-center fa-center">
                  <img src="/media/img/pac6.png" alt="">
               </div>

               <div class="packaging-list-item__info">
                  <p class="packaging-list-item-info__title">
                     Мешок
                  </p>

                  <p class="packaging-list-item-info__desc">
                     Помогает сохранить груз в чистоте, препятствует рассыпанию штучного груза, используется для
                     группировки груза по местам.
                  </p>

                  <p class="packaging-list-item-info__stay">
                     Упаковка передается получателю
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Состав упаковки:</span>
                     <br>
                     Пломба, пропиленовый мешок
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Максимальные габариты груза:</span>
                     <br>
                     0,3м * 0,3м * 0,5м
                  </p>

                  <p class="packaging-list-item-info__composition">
                     <span>Примеры упаковываемых грузов:</span>
                     <br>
                     Запчасти, одежда, стройматериалы, домашние вещи и другой мелкоштучный груз
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>

{% endblock %}
